/* lora-regular - latin-ext_latin */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
       url('/fonts/lora-v17-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lora-v17-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* lora-italic - latin-ext_latin */
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local(''),
       url('/fonts/lora-v17-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lora-v17-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
}

/* roboto-regular - latin-ext_latin_greek-ext_greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
       url('/fonts/roboto-v20-latin-ext_latin_greek-ext_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-v20-latin-ext_latin_greek-ext_greek-regular.woff') format('woff'), /* Modern Browsers */
}

/* roboto-italic - latin-ext_latin_greek-ext_greek */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local(''),
       url('/fonts/roboto-v20-latin-ext_latin_greek-ext_greek-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-v20-latin-ext_latin_greek-ext_greek-italic.woff') format('woff'), /* Modern Browsers */
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    text-align: left;
}

p.center
{
    text-align: center;
}

p.gpgkey
{
    text-align: center;
    font-size: 20%;
}

a
{
    text-decoration: none;
    color: #222288;
}

h1
{
    font-family: 'Lora', serif;
    font-size: 180%;
    text-align: center;
}

h2
{
    font-family: 'Lora', serif;
    font-size: 140%;
    text-align: left;
}

h3
{
    font-family: 'Lora', serif;
    font-size: 120%;
    text-align: left;
}

h4
{
    font-family: 'Lora', serif;
    font-size: 100%;
    text-align: left;
}

li
{
    font-family: 'Roboto', sans-serif;
    /*text-align: left;*/
}

img.portrait
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*border: 2px solid #444444;*/
}

img.logo
{
    display: block;
    float: left;
    margin: 2%;
    padding: 2%;
}

ul.footer {
    text-align: center;
    padding: 1em;
}

ul.footer li {
    display: inline;
    list-style: none;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

hr {
    margin: 3%;
}

.wrapper {

    /*display: table-cell;*/
}

/* Small screens */
@media screen and (max-width: 600px) {

.centered
{
    position: relative;
    /*background: url(serpent_right.png) left bottom no-repeat;
    background-position: 95% 10%;*/

    font-size: large;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 80vw;

    margin: auto;
    margin-left: 5%;
    margin-right: 5%;

    color: #222222;

    padding: 2%;
}

}


/* Good screens */
@media screen and (min-width: 601px) {

.centered
{
    position: relative;
    /*background: url(serpent_right.png) left bottom no-repeat;
    background-position: 95% 10%;*/

    font-size: large;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 30%;
    min-width: 600px;
    height: 100%;

    margin: auto;

    /*background-color: #EEEEEE;*/
    color: #222222;

    padding: 2%;
    /* border: 3px solid #444444; */

    /* Automatic pretty borders with Mozilla and Safari
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px; */
}

}

